body{
  background: rgb(105, 194, 249);
}

/* css for the controls */
.controls, li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls{
  padding: 2px;
  margin-left: 250px;
  
}
.filters span{
  cursor: pointer;
  margin: 0 8px;
  font-size: 17px;
}
.filters span:first-child{
  margin-left: 0;
}
.filters span.active{
  color: #3c87ff;
}
.controls .clear-btn{
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  border-radius: 4px;
  margin-bottom: 8px;
  margin-right: 250px;
  padding: 7px 13px;
  background: #3c87ff;
}



/*  */
.container {
  
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.task-input {
  margin-bottom: 20px;
}

.task-input input {
  padding: 8px;
  font-size: 16px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task-input button {
  padding: 8px 15px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.matrix {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.quadrant {
  flex: 1 1 300px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
}

.task-list  {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.task-list li {
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
}
.task-list .task{
  list-style: none;
  font-size: 13px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  background-color: #fff;
}
.task-list .task:last-child{
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.task label{
  display: flex;
}
.task label p.checked{
  text-decoration: line-through;
}
.task label input{
  margin-top: 6px;
  margin-right: 12px;
}
.task .settings{
  cursor: pointer;
  position: relative;
  margin-right: 20px;
}
.settings .task-menu{
  position: absolute;
  padding: 5px 0;
  right: -5px;
  bottom: -65px;
  z-index: 2;
  transform: scale(0);
  border-radius: 4px;
  background: #fff;
  transform-origin: top right;
  transition: transform 0.2s ease;
  box-shadow: 0 0 6px rgb(0, 0, 0, 0.15);
}
.settings .task-menu.show{
  transform: scale(1);
}
.task-menu li{
  height: 25px;
  font-size: 16px;
  padding: 17px 15px;
  margin-bottom: 2px;
  justify-content: flex-start;
}
.task-menu li:last-child{
  margin-bottom: 0;
}
.task-menu li:hover{
  background: #f5f5f5;
}
.task-menu li i{
  padding-right: 8px;
}
