body{
   
    background: url(pictures/background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; 
    width: 100%;
}
.background{
    background: url(pictures/background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; 
    width: 100%;
}


.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    height: 550px;
    margin-top: 20px;
    background: transparent;
    background:transparent;
    border-radius: 20px;
    overflow: hidden;
}
.item{
    position: absolute;
    top: 50px;
    left: 0;
    width: 58%;
    height: 100%;
    color: white;
    background: transparent;
    display: flex;
    flex-direction: column;
    

}
.item .logo{
    color: black;
    font-size: 40px;
}
.text-item p{
    color: black;
    font-size: 30px;
    margin: 20px 0;
}
/* css form-sign in */
.container .login-section{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
}
.form-box{
    position: absolute;
    bottom: 50px;
    left: 0;
}
.login-section .form-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}
.login-section .form-box.register{
    transform: translateX(430px);
    transition: transform .6s ease;
    transition-delay: 0s;
}

.login-section.active .form-box.register{
    transform: translateX(0px);
    transition-delay: .7s;
}

.login-section .form-box.login{
    transform: translateX(0px);
    transition: transform .6s ease;
    transition-delay: .7s;
} 

.login-section.active .form-box.login{
    transform: translateX(430px);
    transition-delay: .0s;
}

.login-section .form-box h2{
    color: black;
    text-align: center;
    font-size: 25px;
}
.form-box .input-box{
    position: relative;
    margin: 30px 0;
    width: 340px;
    height: 30px;
    border-bottom: 2px solid #fff;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-right: 28px;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600px;
    pointer-events:none;
    transition: .5s ease;
}
.form-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
}


.btn{
    background: #fff;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: red;
    font-size: 16px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4);
}
.btn-register{
    background: #fff;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: red;
    font-size: 16px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4);
}
.create-account{
    font-size: 14.5px;
    text-align: center;
    margin: 25px;
}
.create-account p a{
    color: white;
    font-weight: 600px;
    text-decoration: none;
}
.create-account p a:hover{
    text-decoration: underline;
}



/* ------media queries-------*/
@media only screen and (max-width: 600px){
    body{
   
        background: url(pictures/background.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh; 
        width: 100%;
    }
    .container .item{
        top: 0;
        margin-left: 40px;
    }
    .container .login-section{
        margin-top: 110px;
        margin-right: 140px;
    }

    .item .logo{
        color: black;
        font-size: 20px;
    }
    .text-item p{
        color: black;
        font-size: 15px;
        margin-top: 0;
        
    }

    .login-section .form-box h2{
        color: black;
        text-align: center;
        font-size: 20px;
    }
    
    .form-box .input-box{
        position: relative;
        margin: 30px 0;
        width: 200px;
        height: 30px;
        border-bottom: 2px solid #fff;
    }
}